.slider{
  width: 100%;
  height: 75vh;
  background-color: #FFF2DF;
  background-image: url('../../../../assets/event-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Media Quries */

@media screen and ( max-width: 768px ){
  .slider{
    height: 300px;
  }
}
