<div class="container">
  <div class="panel">
    <div class="panel-heading">
      Apply For Packhous On Rent
    </div>
    <div class="panel-body">
      <p>* Packhouse on rent facility is available for only FFIAD members who want to start their Export & want to utilize FFIAD Dubai payment security facility.</p>

    </div>
    <div class="panel-body">

      <div class="pack-house-photos"></div>
      <div class="pack-house-photos"></div>
      <div class="pack-house-photos"></div>
      <div class="pack-house-photos"></div>
      <div class="pack-house-photos"></div>
      <div class="pack-house-photos"></div>
    </div>
    <h1>Form goes here</h1>
  </div>
  <div class="panel-footer"></div>
</div>
