:host{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
}
.panel{
  width: 100%;
}
.panel-heading{
  background-color: #FFF2DF;
  padding: 10px 20px;
  color: #9B111E;
}
.panel-body{
  padding: 20px;
}

.panel-body > p{
  color: gray;
}
