<div class="container">
  <div class="panel ">
    <div class="panel-heading">
      Apply For Export License
    </div>
    <div class="panel-body">
      <p>Any one who want to start Agri export business he can apply for the export license.Kindly Feel below Enquiry form</p>

    </div>
    <div class="panel-body">
      <h5>IEC & APEDA Registration</h5>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Required Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Full Name of Applicant</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Fathers Name</td>
          </tr>
          <tr>
              <td>3</td>
              <td>Date of Birth</td>
          </tr>
          <tr>
              <td>4</td>
              <td>Type of Business (Proprietary / Partnership/ Pvt. Ltd. etc)</td>
          </tr>
          <tr>
              <td>5</td>
              <td>Name of Firm</td>
          </tr>
          <tr>
              <td>6</td>
              <td>In case of partnership firm above information to be provided for each partner</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Address proof of firm (Sale Deed/ Rent Agreement / Lease Deed/ Electricity bill / Telephone landline bill / Mobile postpaid bill / MOU / Partnership deed, In case of Proprietary firm Aadhar card, passport, voter ID is also acceptable.
              </td>
          </tr>
          <tr>
            <td>8</td>
            <td>Copy of Bank certificate / Cancelled Cheque with name of applicant (Bank who deals in foreign exchange)
              </td>
          </tr>
          <tr>
            <td>9</td>
            <td>Copy of PAN Card</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Copy of Aadhar Card</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Mobile No.</td>
          </tr>
          <tr>
            <td>12</td>
            <td>Email Address</td>
          </tr>
          <tr>
            <td>13</td>
            <td>In case of partnership firm above information to be provided for each partner</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel-footer"></div>
  </div>
</div>
