<aside class="aside-nav" [class.aside-close]="!isOpen">
  <div class="side-link" [routerLink]="['/homepage']" routerLinkActive="router-link-active" >
      Home
  </div>
  <div class="side-link">
    Events
  </div>
  <div class="side-link" [routerLink]="['/exim-services']" routerLinkActive="router-link-active" >Exim Services</div>
  <div class="side-link">Produce Residue Free Farms</div>
  <div class="side-link">Testimonials</div>
  <div class="side-link">FPO Corner</div>
  <div class="side-link" [routerLink]="['/membership']" routerLinkActive="router-link-active" >FFIAD Membership</div>
  <div class="side-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</div>
</aside>
