:host{
  display: block;
  width: 100%;
}


footer{
  min-height: 60vh;
  height: auto;
  background-color: #c3002f;
  display: flex;
  flex-direction: column;
}
.link-holder{
  min-height: calc(60vh - 70px);
  height: auto;
  display: flex;
  padding: 20px 40px;
  justify-content: space-evenly;

}
.copyright{
  background-color: #920020;
    color: #ffffff;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
}
.link-title{
  color: white;
  width: fit-content;
  border-bottom: 2px solid white;
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}
.links{
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.links > a{
  color: white;
  text-decoration: none;
  margin: 5px 0;
}
.social-links{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.socials{
  height: 30px;
  width: 30px;
  margin: 0px 10px;
}
svg{
  fill: #920020;
  height: 100%;
  width: 100%;
}
