.service-box{
  height: 100px;
  width: 48%;
  /* padding: 10px 20px; */
  margin: 1%;
  background-color: rgba(168, 168, 168, 0.1);
  display: flex;
  border-radius: 3px;
}
.service-logo{
  width: 100px;
  height: 100%;
  background-color: lightcoral;
}
.service-name{
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: wrap;
  padding: 10px;
}
