<div class="container-fluid" style="padding-top: 40px">
  <div class="container">
    <div class="services-info">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nobis consequuntur, corrupti assumenda magnam molestiae hic cupiditate quam quisquam ea dolore expedita aliquam labore reiciendis libero et architecto quos natus fugiat perferendis! Iusto, ipsa quos nihil aliquid excepturi harum deserunt, nesciunt odit tempore sequi ipsam cumque accusamus quam voluptas reprehenderit?
    </div>
  </div>
  <div class="container d-flex flex-wrap">
    <div class="service-box">
      <div class="service-logo">

      </div>
      <p class="service-name">Apply For Export Licence</p>
    </div>
    <div class="service-box">
        <div class="service-logo">

        </div>
        <p class="service-name">Apply For Packhouse On Rent</p>
      </div>
      <div class="service-box">
          <div class="service-logo">

          </div>
          <p class="service-name">Apply For Quality Certification</p>
        </div>
        <div class="service-box">
            <div class="service-logo">

            </div>
            <p class="service-name">Apply For Apply For Customer Clearance</p>
          </div>
          <div class="service-box">
              <div class="service-logo">

              </div>
              <p class="service-name">Project Pomegranate Arial Processing</p>
            </div>
  </div>
</div>
