input,button{
  height: 30px;
  width:250px;
  border: 1px solid #9B111E;
  border-radius: 16px;
  margin: 5px;
}
input{
 text-align: center;
}
button{
  width: fit-content;
  background: #9B111E;
  color: white;
  padding: 0px 20px;
}
h5{
  color: #9B111E;
}


/*@media queries*/

@media screen and ( max-width: 768px ){
  input{
    width: 30%;
  }
}
