<div class="container">
    <div class="panel">
      <div class="panel-heading">
        Apply for Quality Certification
      </div>
      <div class="panel-body">
        <p>* Any exporter who wants the quality certificates can apply for its certification. Below important certification can be made available.</p>
        <ul>
          <li>GLOBALGAP</li>
          <li>HACCP</li>
          <li>BRC</li>
          <li>FSMS</li>
          <li>ISO- 22000</li>
        </ul>

      </div>
      <h1>Form goes here</h1>
    </div>
    <div class="panel-footer"></div>
  </div>
