<div class="container-fluid" style="padding: 0;">
  <app-slider></app-slider>
  <div class="container-fluid" style="background-color:#FFF2DF;">
    <div class="container">
      <app-welcome-msg></app-welcome-msg>
    </div>
  </div>
  <div class="container">
    <app-upcoming-event></app-upcoming-event>
      <app-vision-msg></app-vision-msg>
      <app-mission-tab></app-mission-tab>
      <app-testomonials-holder></app-testomonials-holder>
  </div>
  <!-- <app-subscribe-container></app-subscribe-container> -->
</div>
