<div class="container" style="padding-top: 40px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <form action="">

    <div class="career-form">
        <p>Apply For Job</p>
      <input type="text" name="" value="" placeholder="Enter Full Name">
      <input type="text" name="" value="" placeholder="Enter E-mail">
      <input type="number" name="" value="" placeholder="Enter Mobile Number">
      <input type="text" name="" value="" placeholder="Enter Education">
      <input type="text" name="" value="" placeholder="Enter Skills">
      <input type="text" name="" value="" placeholder="Enter Address">
      <input type="text" name="" value="" placeholder="Current Location">
      <label for="">
        Attach Resume
        <input type="file" size= "60">
      </label>
      <div class="buttons">
        <button class="btn">Reset</button>
        <button class="btn">Submit</button>
      </div>
    </div>

  </form>

</div>
