<header>
  <app-brand-strip></app-brand-strip>
<div class="head-section">

  <div class="menu" (click)="toggleMenu()" >
    <svg class="icon-white" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 24 24">
      <g>
        <path d="M24,3c0-0.6-0.4-1-1-1H1C0.4,2,0,2.4,0,3v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V3z"/>
        <path d="M24,11c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V11z"/>
        <path d="M24,19c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V19z"/>
      </g>
    </svg>

  </div>
  <div class="links">
      <ul>
        <li><a routerLink="homepage" routerLinkActive="router-link-active" >Home</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="events" routerLinkActive="router-link-active">Events</a></li>
        <li><a [routerLink]="['/exim-services']" routerLinkActive="router-link-active" >Exim Services</a></li>
        <li><a href="#">Membership</a></li>
        <li><a [routerLink]="['/career']" routerLinkActive="router-link-active" >Career</a></li>
        <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a></li>
      </ul>
  </div>
</div>
</header>
