:host{
  display: block;
}
header{
  padding: 0;
}

.brand{
  height: 50px;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 6px 0;

}
.brand-logo{
    height: 40px;
    width: 40px;
    background-image: url('../../../assets/logos/ffiad_logo_75px.png');
    background-position: center;
    background-size: contain;
}
.brand-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}
.brand-name{
    font-size: 22px;
    font-weight: bold;
}
.sub-title{
    font-size: 12px;
}
.phone,.email,.header-socials{
  display: flex;
  align-items: flex-end;
}

.contact{
  display: flex;
}
.email-logo,.phone-logo,.socials{
  height: 18px;
  width: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px 5px;
}

.email-contact{
  font-size: 14px;
  color: #9B111E;
  margin: 0;
}
svg{
  fill: #9B111E;
}
