:host{
  display: block;
  height: auto;
}
header{
  padding: 0 auto;
  background-color: white;
}

.brand{
  height: 50px;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 2px 0 2px 0;

}
.brand-logo{
    height: 40px;
    width: 40px;
    background-image: url('../../../assets/logos/ffiad_logo_75px.png');
    background-position: center;
    background-size: contain;
}
.brand-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
    line-height: 22px;

}
.brand-name{
  font-size: 22px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}
.sub-title{
    font-size: 12px;
}
.phone,.email,.header-socials{
  display: flex;
  align-items: flex-end;
}

.contact{
  display: flex;
  width: 25%;
  display: flex;
  justify-content: flex-start;
}
.header-socials{
  width: 25%;
  justify-content: flex-end;
}
.email-logo,.phone-logo,.socials{
  height: 20px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
}

.email-contact{
  font-size: 14px;
  color: #9B111E;
  margin: 0;
}
svg{
  fill: #9B111E;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
