:host{
  display: block;
  height: auto;
  width: 100vw;
  height: auto;
}
header{
  padding: 0 auto;
  background-color: white;
}

.brand{
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 2px 0 2px 0;

}
.brand-logo{
    height: 40px;
    width: 40px;
    background-image: url('../../../assets/logos/ffiad_logo_75px.png');
    background-position: center;
    background-size: contain;
}
.brand-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
    line-height: 22px;

}
.brand-name{
  font-size: 22px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}
.sub-title{
    font-size: 12px;
}
.phone,.email,.header-socials{
  display: flex;
  align-items: flex-end;
}

.contact{
  display: flex;
  width: 25%;
  display: flex;
  justify-content: flex-start;
}
.header-socials{
  width: 25%;
  justify-content: flex-end;
}
.email-logo,.phone-logo,.socials{
  height: 20px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
}

.email-contact{
  font-size: 14px;
  color: #9B111E;
  margin: 0;
}
svg{
  fill: #9B111E;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


/* Media Query */

@media screen and (max-width: 1133px){
  .email-contact{
    font-size: 12px;
    margin-bottom: 2px;
  }
}


@media screen and (max-width: 1008px){
  .email-contact{
    font-size: 11px;
  }
}
@media screen and ( max-width: 964px){
  .brand-name{
    font-size: 20px;
    font-weight: bold;
  }
  .contact{
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and ( max-width: 896px ){
  .brand-name{
    font-size: 18px;
  }
}
@media screen and ( max-width: 813px ){
  .brand-name{
    font-size: 16px;
  }
}


/* Mobile size media queries */

@media screen and ( max-width: 768px ){
  .brand{
    height: 30px;
  }
  .brand-name{
    display: none;
    width: 0;
  }
  .contact{
    flex-direction: row;
    width: fit-content;
  }
  .emial,.email-contact{
    font-size: 12px;
  }
  .email{
    display: none;
  }
  svg{
    height: 25px;
    width: 25px;
  }
}
