<div class="container-fluid" style="padding: 0">
  <div class="container-fluid about-container" style="padding: 40px 0">
      <div class="container">
          <h1>About Us</h1>
          <p>Forum For Integrated Agriculture Development (FFIAD) is non-profit organizations that provide Indian Agriculture & Food products companies with the programs and services needed to produce &export and sell their products internationally. FFIAD is also a social enterprise that collaborates with companies to develop Impactful corporate social responsibility (CSR) initiatives in Indian agriculture & rural development.</p>
          <p>Forum For Integrated Agriculture Development administer many services through Market Access Program.</p>
          <p>Thanks for visiting us! We hope you find information about our programs to help you become export-ready or increase your current level of exporting. Learn More about our Programs & Services at www.ffiad.com</p>
        </div>
  </div>


  <div class="container">

  </div>
</div>
