<div class="container-fluid" style="padding: 0">
  <div class="container-fluid about-container" style="padding: 40px 0">

      <div class="container">
          <h1>About Us</h1>
          <p class="about-text">Forum For Integrated Agriculture Development (FFIAD) is non-profit organizations that provide Indian Agriculture & Food products companies with the programs and services needed to produce &export and sell their products internationally. FFIAD is also a social enterprise that collaborates with companies to develop Impactful corporate social responsibility (CSR) initiatives in Indian agriculture & rural development.</p>
          <p class="about-text">Forum For Integrated Agriculture Development administer many services through Market Access Program.</p>
          <p class="about-text">Thanks for visiting us! We hope you find information about our programs to help you become export-ready or increase your current level of exporting. Learn More about our Programs & Services at www.ffiad.com</p>
        </div>
  </div>


  <div class="container" style="padding-top: 40px">
    <div class="card ceo-info" style="display: flex; align-items: center;">
        <h5 style="margin: 20px 0;width: fit-content; border-bottom: 2px solid #9B111E; color: #9B111E;">Meet Our Speaker</h5>
      <div class="card-head d-flex">
        <div class="ceo-pic">
          <div class="pic"></div>
        </div>
        <div class="ceo-name">
          <h3>Mr. Sharad Nanapure</h3>
          <p>
              Ex-Advisor, Agricultural and Processed Food Products Export Development Authority (APEDA), Ministry of Commerce & Industry, Government Of India.
          </p>
        </div>

      </div>
      <div class="card-body">
          <div class="ceo-details">
              <p style="line-height: 30px;">
                  –( M. Sc. – Horti, Export Education In Agri & Processed Products, Learned Value Addition Technologies at U. C. Davis, California, Worked with Global recognised fruit procesors, Worked in Franse In grape processing Industry, Worked In Export Industry at AirTel Subsidary- Field Fresh, Worked With ISAP NGO, Founder Chairman – FFIAD, Ex- Advisor APEDA, Min. Of Commerce, GOI. Executed 100 plus Agri Export Seminars Nationwide from Chandigarh To Chennai. Organised Buyer Seller Meetings In Dubai, Singapore, Malaysia, Thailand, Netherland, Germany. With his 18 plus years experience in Agri Export & Processing Industry as well Market Linkage Now he is a Founder –Chairman of FFIAD.
              </p>
            </div>
      </div>
    </div>

  </div>

  <div class="container" style="display: flex; align-items: center; flex-direction: column; margin: 60px auto">
      <h5 style="margin: 20px 0;width: fit-content; border-bottom: 2px solid #9B111E; color: #9B111E;">Our Team</h5>
      <div class="team-container col-md-12">
        <div class="member-card">
          <div class="member-pic">
              <div class="member-photo"></div>
          </div>
          <div class="member-info">
            <h5 style="color: lightcoral">Laxman Gund</h5>

            <p>General Manager</p>
          </div>
        </div>

        <div class="member-card">
            <div class="member-pic">
                <div class="member-photo"></div>
            </div>
            <div class="member-info">
              <h5 style="color: lightcoral">Laxman Gund</h5>

              <p>General Manager</p>
            </div>
          </div>

          <div class="member-card">
              <div class="member-pic">
                  <div class="member-photo"></div>
              </div>
              <div class="member-info">
                <h5 style="color: lightcoral">Laxman Gund</h5>

                <p>General Manager</p>
              </div>
            </div>

            <div class="member-card">
                <div class="member-pic">
                    <div class="member-photo"></div>
                </div>
                <div class="member-info">
                  <h5 style="color: lightcoral">Laxman Gund</h5>

                  <p>General Manager</p>
                </div>
              </div>

              <div class="member-card">
                  <div class="member-pic">
                      <div class="member-photo"></div>
                  </div>
                  <div class="member-info">
                    <h5 style="color: lightcoral">Laxman Gund</h5>

                    <p>General Manager</p>
                  </div>
                </div>

                <div class="member-card">
                    <div class="member-pic">
                        <div class="member-photo"></div>
                    </div>
                    <div class="member-info">
                      <h5 style="color: lightcoral">Laxman Gund</h5>

                      <p>General Manager</p>
                    </div>
                  </div>

                  <div class="member-card">
                      <div class="member-pic">
                          <div class="member-photo"></div>
                      </div>
                      <div class="member-info">
                        <h5 style="color: lightcoral">Laxman Gund</h5>

                        <p>General Manager</p>
                      </div>
                    </div>
                    <div class="member-card">
                        <div class="member-pic">
                            <div class="member-photo"></div>
                        </div>
                        <div class="member-info">
                          <h5 style="color: lightcoral">Laxman Gund</h5>

                          <p>General Manager</p>
                        </div>
                      </div>
                      <div class="member-card">
                          <div class="member-pic">
                              <div class="member-photo"></div>
                          </div>
                          <div class="member-info">
                            <h5 style="color: lightcoral">Laxman Gund</h5>

                            <p>General Manager</p>
                          </div>
                        </div>
                        <div class="member-card">
                            <div class="member-pic">
                                <div class="member-photo"></div>
                            </div>
                            <div class="member-info">
                              <h5 style="color: lightcoral">Laxman Gund</h5>

                              <p>General Manager</p>
                            </div>
                          </div>
                          <div class="member-card">
                              <div class="member-pic">
                                  <div class="member-photo"></div>
                              </div>
                              <div class="member-info">
                                <h5 style="color: lightcoral">Laxman Gund</h5>

                                <p>General Manager</p>
                              </div>
                            </div>
                            <div class="member-card">
                                <div class="member-pic">
                                    <div class="member-photo"></div>
                                </div>
                                <div class="member-info">
                                  <h5 style="color: lightcoral">Laxman Gund</h5>

                                  <p>General Manager</p>
                                </div>
                              </div>

      </div>
  </div>
</div>
